.header {
  padding-bottom: 80px;
}
.header_container {
  display: flex;
  justify-content: space-between;
}

.header_section {
  padding: 70px 0 0 80px;
  max-width: 900px;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

.header_logo {
  width: 160px;
  height: 40px;
}

.header_nav_item {
  display: flex;
  font-family: druktextwidecyr-mediun;
  font-size: 10px;
  font-style: normal;
  text-transform: uppercase;
}

.header_nav_list:not(:last-child) {
  padding-right: 25px;
}

.header_nav_list {
  display: flex;
  align-items: center;
}

.header_nav_list img {
  padding-left: 4px;
}

.header_title {
  font-family: Unbounded-Bold;
  font-size: 40px;
  line-height: 113%;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.header_subTitle {
  font-family: GolosText-Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.24px;
  max-width: 476px;
  padding-bottom: 44px;
}
