/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  // font-family: Roboto-Regular;
  color: $mainTextColor;
  display: flex;
  flex-direction: column;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Отключаем подчеркивание ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: 1760px;
  margin: 0 auto;
}

.container-lg {
  width: 1880px;
  margin: 0 auto;
}

.container-xl {
  width: 1920px;
  margin: 0 auto;
}

.btns {
  display: flex;
  align-items: center;
}

.btn {
  padding: 20px 36px;
  font-family: druktextwidecyr-mediun;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid $mainTextColor;
}

.btn_color {
  display: flex;
  align-items: center;
  border: 1px solid $btnColor;
  background-color: $btnColor;
  color: $btnColorText;
  margin-right: 24px;
}

.btn_color img {
  padding-left: 27px;
}
