$bgMain: #f6f6f6;
$bgOther: #e9e9e9;

$mainTextColor: #0d0d0d;
$grayText: #b4b4b4;
$btnColor: #97c61d;
$btnColorText: #ffffff;
$serviceBtnBorder: #c9c9c9;
$serviceBtnHover: linear-gradient(92deg, #97c61d 0%, #20c79f 100%);
